html
  head
    title= "Tic Tac Toe"
    style
      include styles.css
  body
    div(id="board")
    table(id="game")
      each row in board
        tr
          each col in row
            td=col
    form(method='POST', action='/submit', type='hidden', id='form')
      input(type='hidden', name='row', id='row', value='')
      input(type='hidden', name='col', id='col', value='')
    script 
      include game.js
    script. 
      var winner = #{winner}
      console.log(winner)
      if (winner != 0)
        alert("Player " + winner + " won!")

    